sudo: false
language: python
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - pip install poetry
  - poetry install -vvv
# command to run tests
script:
  - poetry run coverage run --source=my_httprunner -m unittest discover
  - poetry run coverage report
after_success:
  - poetry run coveralls